* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

header {
    margin-bottom: 4rem;
}

.container {
    width: 85%;
    margin: 1.5rem auto;
    max-width: 90%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


button, a{
    cursor: pointer;
}

.head {
    background: url("bg-hero-desktop.svg");
}

nav{
    display: flex;
    justify-content: space-between;
}

nav img {
    width: 11em;
}

nav button {
    align-content: flex-end;
    background-color: white;
    padding: 10px;
    border: 1px solid hsl(193, 24%, 74%);
    border-radius: 15px;
    font-weight: 800;
    cursor: pointer;
}

nav button:hover {
    background-color: #E9F8FE;
}

.head-column {
    display: flex;
    padding: 4rem 0 2rem 0;
    gap: 2rem;
    align-items: center;
}

.head-column1 {
    width: 70%;
    text-align: left;
}

.button2 {
    font-size: 1em;
    color: white;
    font-weight: 300;
    border: none;
    background-color: hsl(322, 100%, 66%);
    border-radius: 22px;
    padding: max(1.5vh);
    box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
}

.button2:hover {
    cursor: pointer;
}

.image2 {
    width: 100%;
}

.section {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: white;
}

.section h2 {
    padding-bottom: 0.5rem;
}

.section div img {
    width: 70%;
}

.section>div {
    box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
    display: flex;
    border-radius: 15px;
    width: 60%;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.section3 {
    /* margin-bottom: 6rem; */
}


.section4 {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
    padding: 35px;
}

.section4inner {
    text-align: center;
}

.section4 button {
    color: white;
    font-weight: 600;
    border: none;
    background-color: hsl(322, 100%, 66%);
    border-radius: 22px;
    padding: 14px 30px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
}

footer{
    background-color: hsl(192, 100%, 9%);
    margin-top: -5rem;
    position: relative;
    z-index: -1;
}

.footer-elements {
    width: 85%;
    margin: 1.5rem auto 0;
    max-width: 90%;
    padding: 3rem 0;
}

.footerlogo {  
    height: 40px;
    margin-bottom: 1rem;
}

.mainfooter {
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
}

.mainfooter div {
    width: 100%;
}

.footer-elements {
    color: white;
}


.footer2 a, .footer3 a {
    color: white;
    text-decoration: none;
}

.twitter, .instagram, .facebook{
    padding: 5px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.footer1 div {
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.footer4 img {
    height: 30px;
}

.footer4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width: 850px) {

    .head-column1 {
        width: 100%;
        text-align: left;
    }

    .head-column2 {
        width: 60%;
    }

    .section>div {
        width: 80%;
        max-width: 95%;
    }

    .section4 {
        margin-top: 2rem;
        width: 65%;
        padding: 1rem;
    }

    footer{
        margin-top: -3rem;
    }
}

@media screen and (max-width:580px) {
    .container {
        width: 100%;
        margin: 1.5rem auto;
        max-width: 90%;
    }

    .head-column {
        flex-direction: column;
        text-align: center;
    }

    .head-column2 {
        width: 100%;
    }
    
    .head-column1 {
        width: 100%;
        text-align: center;
    }

    .section div img {
        width: 100%;
    }
    
    .section>div {
        flex-direction: column;
        text-align: center;
    }

    .section4 {
        width: 80%;
    }

    .mainfooter {
        flex-direction: column;
    }
}